<div class="content">
  <section>
    <h2 class="inline"><%= @post.title %></h2>
    <p><%= @post.body %></p>
    <p>Hipster rating: <%= @post.rating unless @post.rating.nil? %></p>
    <p class="inline">Tags:</p>
    <ul class="inline">
      <% @post.tags.each do |tag| %>
      <li class="inline"><a href="/tags/<%= tag.name %>"><%= tag.name %></a></li>
      <% end %>
  </section>
</div>
<form class="inline" action='/posts/<%= @post.id %>/edit' method='GET'>
  <input type='submit' value='Edit!'>
</form>

<form class="inline" action='/posts/<%= @post.id %>' method='POST'>
  <input type="hidden" name="_method" value="DELETE">
  <input type='submit' value='Delete!'>
</form>

<a href='/posts'>all posts</a>
